
.sidebar {
  box-sizing: border-box;
  padding: 2em;
  width: 35vw;
  cursor: pointer;
}

.sidebar h2,
.sidebar p,
.sidebar ul {
  text-align: left;
}

.leaflet-container {
  width: 70vw;
  height: 100vh;
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar button {
  width: 100%;
  font-weight: bold;
  padding: .8em 1em;
}