@import 'leaflet/dist/leaflet.css';
@import './_sidebar.scss';
@import './_container.scss';

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
button,
input {
  font-family: -apple-system, Ubuntu, Arial, sans-serif;
}

*,
li {
  list-style: none;
}

#root {
  
  font-family: sans-serif;
  color: #333;
  background-color: #f3e4d7;
}






